#myTable {

    font-family: arial, sans-serif;
    position: absolute;
    right: 20px;
    float: right;
    
    height: 200px;
    overflow: auto;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

#tablename{

    font-family: arial, sans-serif;

}
#firstrow{

    background-color: lavender;
}


#infoid:visited {
    color: green;
}
#deleteid:visited{
    color:green;
}
#infoid:hover{
    color: hotpink;
}
#deleteid:hover{
    color: hotpink;
}

#maindiv{
    position: relative;
    bottom:410px;
    left:70px;
    height: 400px;
    width: 1200px;
    overflow: auto;
    }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: pink; 
  }
#changeId{
    font-family: arial, sans-serif;
    position: relative;
    top:10px;
    right: 20px;
    float: right;
  }
  
  

